<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>
    <style>
        body,html{
            height: 90%;
        }
    </style>
    <div class=" d-flex justify-content-center align-items-center h-100">
        <iframe
            src="https://timesprayer.com/widgets.php?frame=1&amp;lang=ar&amp;name=mascat&amp;sound=true&amp;avachang=true&amp;fcolor=000000&amp;tcolor=0dcaf0&amp;frcolor=0dcaf0"
            style="border: none;overflow: hidden;width: 50%;height: 50%;"></iframe>
        </div>
        <%- include('parts/footer.ejs')%>